/*
Colors used:
Primary Color (yellow): hsl(49, 81%, 77%) (53, 100%, 84%);
Secondary Color (light blue): hsl(201, 51%, 60%);
Accent color (dark blue) hsl(209, 87%, 18%);
orange (19, 86%, 69%);
*/
*{
  box-sizing: border-box;
}
body {
  background-color: hsl(58, 66%, 97%);
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* Sets the font size to 18px */
  font-weight: 300;; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: hsl(228, 38%, 31%);
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.90em;
  font-weight: 400;
}
h4 {
  font-size: 1.55em;
  font-weight: 400;
}
img {
  width: 100%;
}

a {
  color:  hsl(228, 38%, 31%);
  text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
  color:  hsl(228, 38%, 31%);
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: hsl(228, 38%, 31%);
}
a:active { /* selected link */
  color:hsl(209, 87%, 18%) ;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: hsl(49, 81%, 77%);
  color:hsl(228, 38%, 31%); /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid hsl(49, 81%, 77%); /* width of the border, type, color */
  opacity: 2;
  transition: 0.4s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: hsl(209, 87%, 18%);
  color: hsl(49, 81%, 77%);
  text-transform: uppercase;
  border: 1px solid hsl(209, 87%, 18%);
}
.button.contact:hover {
  background-color: hsl(228, 38%, 31%);
  color: hsl(201, 51%, 60%);
}
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
header
{background-color: hsl(58, 66%, 97%);
padding: 10px;
margin: 10px;
border-bottom: 3px solid hsl(228, 38%, 31%);}
header a {
  color: hsl(228, 38%, 31%);
  padding: 10px;
}
header .active  a{
  color:hsl(32, 80%, 27%);
}
header ul{
  margin-left: 0;
  padding-left: 0;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle li:last-child {
  display: block;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  margin: 0;
}
.navtoggle.responsive li  {
  display: block;
}

main {
  padding-top: 15px;
}
#work .row { padding-bottom: 17px; border-bottom: 1px solid hsl(19, 86%, 69%) ; }
#hero h1 {
  text-align: center;
}
#hero span {
display: block;
}
.center {
  text-align: center;
}

.logo {
 max-width: 250px;
}
#hero {
  background-color:hsl(58, 66%, 97%);
  padding: 18px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}
main {
  padding-top: 10px;
}

footer {background-color: hsl(201, 51%, 60%);
padding: 10px;
margin: 10px;
text-align: center;
}
footer.container{
  clear: both;
}
.social{
  padding: 20px 0;
}
.social a {
  display: inline-block;
  width: 50px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
.berlin-illustration{
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  .logo {
   min-width: 290px;
  }
  nav {
    float: right;
  }
  nav < ul < li {
    width: auto;
    float: right;
    margin-top: 4px;
      display: inline-block;
      text-align: center;
        margin: 2em 0;
    }
    .navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
  .title {
      width: auto;
      float: left;
      margin-top: 13px;
      font-size: 1.5em;
      font-weight: 600;
    }

    #about h2 {
      padding-top: 20px;
    }

    #hero h1 {
      margin-top: 60px;
      margin-bottom: 0;
      font-size: 40px;
    }

    #work h2 {
      margin: 10px;
      text-align: center;
    }
    [class*="col-"] {
  float: left;
  padding: 10px;
}
    .col-md-6 {
      width: 50%;
    }
    .col-md-12{
      width: 100%;
    }
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  }
    /* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  .container {
    max-width: 1920px;
    margin: 0 auto;
  }
  [class*="col-lg-"] {
      float: left;
      padding: 20px;
    }

    .col-lg-4 {
      width: 33%;
    }

    .col-lg-5 {
      width: 41.66%;
    }

    .col-lg-6 {
      width: 50%;
    }

    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-12{
      width: 100%;
    }
  }
  /* ==============================
  X-large devices (1440px or larger)
  ================================
  @media only screen and (min-width: 1440px) {} */
  /* ==============================
  Extra-large devices (1920px or larger)
  ================================
  @media only screen and (min-width: 1920px) {} */
