/*
Colors used:
Primary Color (yellow): hsl(49, 81%, 77%);
Secondary Color (light blue): hsl(201, 51%, 60%);
*/
head {background-color: hsl(201, 51%, 60%)}
body{
  background-color: hsl(49, 81%, 77%)
 }
head{
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: hsl(209, 87%, 18%);
}
body {
  font-family: 'Comfortaa', cursive;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: hsl(209, 87%, 18%);
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.90em;
  font-weight: 400;
}
h4 {
  font-size: 1.55em;
  font-weight: 400;
}
img {
  width: 100%;
}

a {
  color:  hsl(201, 51%, 60%);
  text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
  color:  hsl(209, 87%, 18%);
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: hslhsl(209, 87%, 18%);
}
a:active { /* selected link */
  color:hsl(209, 87%, 18%) ;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: hsl(201, 51%, 60%);
  color:hsl(209, 87%, 18%); /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid hsl(201, 51%, 60%); /* width of the border, type, color */
  opacity: 1;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #hsl(201, 51%, 60%);
  text-transform: uppercase;
  border: 2px solid #hsl(201, 51%, 60%);
}
.button.contact:hover {
  background-color: hsl(209, 87%, 18%);
  color: hsl(201, 51%, 60%);
}
